/* for laptop 1024px */
@media screen and (max-width: 1024px) {
.banner-text-box{
  /* flex-direction: row; */
}
.banner-btn-box {
  padding-top: 20px;
  display: flex;
  gap: 10px;
}
.banner-btn-box > .btn-primary{
  font-size: 1.2rem;
  padding: 12px 15px;
}
.play-instant-img .play-2-img img {
  max-width: 60%;
}

/* for tablet and large */
@media screen and (max-width: 992px){
  .game-button-part {
      max-width: 1920px;
      margin: 70px auto 30px;
      padding: 30px 100px;
    }
}
.game-button{
  font-size: 1.25rem;
}
.gammer-container {
  max-width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column !important;
  
}
.gammer-img-box,
.gammer-text-box{
  max-width: 100%;
}
.gammer-text-box{
  text-align: center;
}
 .play-instant-text{
  padding-right: 30px;
}
 .play-instant-title span{
  font-size: 2rem;
 }
  .play-instant-title{
  font-size: 2rem;
}
.play-instant-img .play-2-img {
  position: absolute;
  top: 70%;
  left: -30%;
}
.game-button-part {
  max-width: 1920px;
  margin: 120px auto 30px;
  padding: 30px 100px;
}
.banne-container{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}
.banner-text-box,.banner-img-box{
  width: 100%;
}
.gammer-container {
  max-width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column-reverse !important;
}




}
/* for tablet devices */
@media screen and (max-width: 768px) {
nav {
    max-width: 95%;
    margin: 0 auto;
    padding: 30px 50px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  }
.site-logo {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 30%;
}
.site-title {
  color: #0B0223;
  font-size: 1.5rem;
  font-weight: 700;
}
.nav-main {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-menu li {
  margin-right: 10px;
}
.you,
.tik{
  height: 17px;
}
.banne-container{
  flex-direction: column-reverse;
}
/* .banner-text-box{ */
  /* width: 100%; */
  /* text-align: center; */
/* } */


.banner-text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-card-box {
  grid-template-columns: repeat(2, 1fr);
}
.banner-btn-box{
  display: flex;
  justify-content: start;
}
.we-are-gammer{
  padding:30px;
}
.gammer-container{
  flex-direction: column;
}
.gammer-img-box,.gammer-text-box {
  max-width: 100%;
}
.gammer-text-box{
  text-align: center;
}

.play-text {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-text{
  font-size: 3rem;
}
.sub-title{
  font-size: 1rem;
}
.sign-in-btn,
.go-rogue-btn
{
  font-size: 0.8rem !important;
  padding: 9px 13px !important;
}
.gammer-title{
  font-size: 2.6rem;
}
.gammer-des {
  
  font-size: 1.1rem;
  
  line-height: 25px;
 
}
.gammer-des-2 {
  font-size: 1.5rem;
}
.online-game-title,
.funny-title
{
  font-size: 2.2rem;
}
.game-card-text{
  font-size: 1rem;
}

.play-instant {
  padding: 30px;
}
.play-instant-container {
  gap: 40px;
}
.play-instant-text {
    padding-right: 0px;
}
.play-instant-img .play-1-img img{
  height: 100%;
}
/* .play-instant-img .play-1-img img { */
  /* height: 300px; */
  /* width: auto; */
/* } */
/* .play-instant-img .play-2-img img { */
  /* height: 200px; */
  /* width: auto; */
/* } */

.play-instant-img .play-2-img {
  position: absolute;
  top: 73%;
  left: -25%;
}


.play-instant-title,.play-instant-title > span {
  font-size: 2.1rem;
}
.play-instant-des{
  font-size: 1rem;
}
/* .game-button-part { */
  /* max-width: 1920px; */
  /* margin: 150px auto 0; */
  /* padding: 30px 100px; */
/* } */
.game-button-part {
    max-width: 1920px;
    margin: 140px auto 40px;
    padding: 15px;
}
.game-button-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.game-button{
  font-size: 0.9rem;
}
.footer-link{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.term{
  gap: 20px;
}
.footer-link li a{font-size: 1rem;}
.footer-icon{gap:35px; font-size: 1.3rem;}
.term li a{font-size: 0.8rem;}
.copyright-text{font-size: 0.8rem;}
.gammer-btn{
  font-size: 0.8rem !important;
    padding: 9px 13px !important;
}
}

/* for mobile devices */
@media screen and (max-width: 576px) {
nav {
  max-width: 95%;
  margin: 0 auto;
  padding: 30px;
}
.nav-container{

}
.nav-main,.nav-menu,.nav-container{
  flex-direction: column;
}
.nav-menu li {
  margin-right: 0;
  margin-bottom: 10px;
}
.banner {
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
}
.banne-container{
  flex-direction: column;
}
/* .banner-text-box{ */
  /* width: 100%; */
  /* padding-left: 0; */
  /* padding-bottom: 0; */
/* } */
.banner-text-box {
  width: 100%;
  padding-left: 0;
  padding-bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: #fff;
}
.banner-img-box img {
  height: 500px;
}
.game-button{
  padding: 6px;
  font-size: 11px;
}
.game-button > img {
  height: 25px;
  width: auto;
}
.footer-link{
  gap: 15px;
}
.footer-link li {
  margin-right: 18px;
}
.footer-link li a {
  font-size: 0.9rem;
}
.footer-icon{
  font-size: 1.2rem;
  gap: 30px;
}
.play-instant-title,
.play-instant-title>span {
  font-size: 1.3rem;
}







}


/* for  extra small devices */
@media screen and (max-width: 425px) {
nav{
  max-width: 100%;
  margin: 0 auto;
  padding: 30px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container,
.nav-main,
.nav-menu
{
  flex-direction: column;
}
.nav-menu li{
  margin-bottom: 10px;
}
.site-logo {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.site-title {
  font-size: 2.5rem;
  font-weight: 700;
}
.nav-social-box li {
  margin-right: 4px;
  
}
.nav-social-box li a{
  font-size: 1rem;
}
.nav-social-box {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.you,
.tik
{
  height: 16px;
}
.banner {
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 30px 30px;
}
.banner-container{
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.banner-text-box {
  width: 100%;
  padding-left: 9px;
  padding-right: 9px;
  padding-bottom: 50px;
  padding-top: 50px;
  margin: 0 auto;
}
.banner-img-box {
  width: 100%;
}
.play-text {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-text {
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2rem;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.banner-btn-box > .btn-primary{
  font-size: 0.8rem;
  padding: 10px;
}
.gammer-container{
  flex-direction: column;
}
.gammer-img-box,
.gammer-text-box
{
  max-width: 100%;
}
.gammer-text-box{
  text-align: center;
}
.we-are-gammer{
  padding: 30px;
}
.gammer-btn{
  font-size: 0.8rem !important;
  padding: 9px 13px !important;
}
.gammer-title{
  font-size: 2rem;
}
.gammer-title,
.gammer-des
{
  margin-bottom: 20px;
}
.gammer-des{
  line-height: 25px;
  font-size: 1rem;
}
.gammer-des-2{
  margin-top: 60px;
  font-size: 1.3rem;
  line-height: 18px;
}

.game-card-box{
  grid-template-columns: 1fr;
}

.online-game{
  padding: 40px;
}
.online-game-title,
.funny-title
{
  font-size: 1.3rem;
}

.play-instant {
  padding: 30px;
}
.play-instant-container,.play-game-online-container{
  flex-direction: column;
}
.play-instant-text {
  padding-right: 0px;
  text-align: center;
}
.play-instant-img {
  position: relative;
  padding: 20px auto;
  width: 82%;
}
.play-instant-img .play-1-img {
  position: relative;
  margin: 0 40px;
  width: 100%;
}
.play-instant-img .play-2-img {
  position: absolute;
  top: 60%;
  left: -8%;
  width: 50%;
}
.play-instant-img .play-1-img img {
  height: 250px;
  width: auto;
}
/* .play-instant-img .play-2-img img { */
  /* height: 200px; */
/* } */

.play-instant-img .play-2-img {
  position: absolute;
  top: 77%;
  left: -3%;
  width: 50%;
}

.game-button{
  padding: 9px;
  font-size: 0.75rem;
}
.game-button img {
  height: 20px;
  width: auto;
}
.game-button-part {
  max-width: 1920px;
  margin: 80px auto 0;
  padding: 30px;
}
.game-button-box {
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  grid-template-rows: repeat(3, 1fr);
}
.footer-link{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}
.footer-link li {
  margin-right: 20px;
}
.footer-link li a{
  font-size: 0.9rem;
}
.footer-icon{
  display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.2rem;
    gap: 18px;
}
.term {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 12px;
}
footer{
  padding: 30px;
}
.copyright{
  margin-top: 30px;
}










}