/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;padding: 0;text-decoration: none;outline:none;list-style-type: none;
}
body{
  font-family: 'Work Sans', sans-serif;
}

/* shared style */
:root{
  --text-white:#fff;
  --text-primary: #0B0223;
  --text-secondary: #534C64;

}
.text-white{
  color: var(--text-white) !important;
}
.text-center{
  text-align: center;
}
.text-secondary{
  color: var(--text-secondary);
}
.text-primary{
  color: var(--text-primary);
}
.linear-bg{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}
.border-0{
  border: 0;
}
.bg-transparent{
  background: transparent;
}
.bg-footer{
  background:  #0B0223;;
}
.btn-primary{
  border-radius: 48px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  padding: 14px 23px;
  /* padding: 18px 30px; */
  color:var(--text-white);
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  /* font-size: 1.25rem; */
  font-weight: 600;
  text-transform: uppercase;

}
.sign-in-btn{
  /* position: relative; */
  border: 0.5px solid transparent;
}
.sign-in-btn:hover {
  background: #4EC5F7 ;
  border: 0.5px solid #F948B2;
  color: #F948B2;
}
.go-rogue-btn{
border: 0.5px solid transparent;
}
.go-rogue-btn:hover{
  background: #F948B2 !important;
  border: 0.5px solid #4EC5F7;
  color: #4EC5F7;
}
/* header part start */
header{
  
}

/* nav start */
nav{
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 100px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.site-logo img{
  height: 40px;
  width: auto;
  cursor: pointer;
}
.site-logo{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 30%;
  

}
.site-title {
  color: #0B0223;
  font-size: 2.813rem;
  font-weight: 700;
  cursor: pointer;
}
.site-title > span{
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-main{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-menu,
.nav-social-box
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu li a:hover{
  color: #F948B2;
}
.nav-menu li a{
  color: #3C354F;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.nav-menu li{
  margin-right: 30px;
}
.nav-social-box{
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 18px 20px;
}
.nav-social-box li a:hover{
  color: #F948B2;
}
.nav-social-box li a{
  color: #3C354F;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
.nav-social-box li{
  margin-right: 15px;
}

/* nav end */
.banner{
  
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 100px;
  
}
.banne-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}
.banner-text-box{
 
  background: url("../images/Group 14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
  width: 50%;
  padding: 50px;
}
.banner-img-box{
 /* width: 50%; */
}
.banner-img-box img {
  width: 100%;
}
.play-text{
  font-size:2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-text{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.sub-title{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-btn-box{
  padding-top: 20px;
}
.go-rogue-btn{
  background: #4EC5F7 !important;
}

/* header part end */
/* we are gammer part start */
.we-are-gammer{
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 100px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gammer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}

.gammer-img-box img{
  width: 100%;
}
.gammer-img-box {
  max-width: 60%;
}
.gammer-text-box{
  text-align: right;
  max-width: 40%;
}
.gammer-title{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.gammer-des{
  color: #534C64;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px;
}
.ellipsis{
color: #534C64;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 45px;
  cursor: pointer;
}
.gammer-des-2{
  color: #534C64;
  font-family: Work Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
/* we are gammer part end */

/* online game part start */
.online-game{
  max-width: 1920px;
  margin: 0 auto;
  padding: 100px 100px;
}
.online-game-container{}
.online-game-header{
  text-align: center;
}
.online-game-title{
  color: #0B0223;
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10px;
}
.funny-title{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.online-game-des{
  color: #534C64;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.125rem;
  padding-bottom: 30px;
}
.game-card-box{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.game-card:hover .game-card-overlay{
  visibility: visible;
  opacity: 1;
}
.game-card{
  position: relative;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}
.game-card-overlay{
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.60);
  height: 98%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-direction: column;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  border: 0.5px solid #FF42A5;
}
.game-watch{
  font-size: 1.25rem;
    font-weight: 600;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
  }
.card-image{
  height: 100%;
  cursor: pointer;
  width: 100%;
}
.game-card-text{
  font-size: 1.25rem;
  font-weight: 500;
  /* line-height: 0px; */
}
/* online game part end */

/* play instant start */
.play-instant{
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 100px;
}
.play-instant-container{
  display: flex;
  align-items: center;
  gap: 20px;
}
.play-instant-text{
  padding-right: 200px;
}
.play-instant-title{
  color: #0B0223;
  font-size: 3rem;
  font-weight: 700;
}
.play-instant-title span{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.play-instant-des{
  color: #534C64;
  font-size: 1.125rem;
  font-weight: 400;
  
}


.play-instant-img{
  position: relative;
}

.play-instant-img .play-1-img {
  position: relative;
}

.play-instant-img .play-2-img {
  position: absolute;
  top: 55%;
  left: -40%;
}



.play-instant-img .play-1-img img {
  max-width: 100%;
}
.play-instant-img .play-2-img img{
  max-width: 100%;
}
/* play instant end */

/* game button part start*/
.game-button-part{
  max-width: 1920px;
  margin: 300px auto 0;
  padding: 30px 100px;
}
.game-button:hover {
  border: 0.5px solid #F948B2;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.game-button {
  padding: 15px 18px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 0.5px solid transparent;
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
}

.game-button img {
  height: 30px;
  width: auto;
}
.game-button-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  
}
/* game button part end*/
/* footer part start */
footer{
  max-width: 1920px;
  margin: 0 auto;
  padding: 50px 100px;
}
.footer-part{

}
.footer-logo{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link,
.footer-icon,
.term
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link{
  margin-top: 50px;
}
.footer-link li{
  margin-right: 30px;
}
.footer-link li a:hover{
  color: #FF42A5;
}
.footer-link li a{
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
    transition:0.5s ease ;
    -webkit-transition:0.5s ease ;
    -moz-transition:0.5s ease ;
    -ms-transition:0.5s ease ;
    -o-transition:0.5s ease ;
}
.footer-icon i{
  transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.footer-icon i:hover{
  color: #FF42A5;
}
.footer-icon{
  display: flex;
  color: #fff;
  justify-content:center;
  align-items: center;
  gap: 40px;
  font-size: 1.563rem;
  margin-top: 20px;
  cursor: pointer;
}
.term{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    margin-top: 30px;
}
.term li a:hover{
  color: #FF42A5;
}
.term li a{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    transition:0.5s ease ;
    -webkit-transition:0.5s ease ;
    -moz-transition:0.5s ease ;
    -ms-transition:0.5s ease ;
    -o-transition:0.5s ease ;
}
.copyright{}
.copyright-text{
  color: rgba(255, 255, 255, 0.60);
    text-align: center;
    
    font-size: 1rem;
  margin-top: 20px;
    font-weight: 500;
    
}
/* footer part end */