/* google fonts link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  margin: 0;padding: 0;text-decoration: none;outline:none;list-style-type: none;
}
body{
  font-family: 'Work Sans', sans-serif;
}

/* shared style */
:root{
  --text-white:#fff;
  --text-primary: #0B0223;
  --text-secondary: #534C64;

}
.text-secondary{
  color: var(--text-secondary);
}
.text-primary{
  color: var(--text-primary);
}
.linear-bg{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
}
.border-0{
  border: 0;
}
.btn-primary{
  border-radius: 48px;
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  padding: 18px 30px;
  color:var(--text-white);
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;

}

/* header part start */
header{
  
}

/* nav start */
nav{
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 100px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.site-logo img{
  height: 40px;
  width: auto;
}
.site-logo{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 30%;
}
.site-title {
  color: #0B0223;
  font-size: 2.813rem;
  font-weight: 700;
}
.site-title > span{
  background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-main{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-menu,
.nav-social-box
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu li a{
  color: #3C354F;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
}
.nav-menu li{
  margin-right: 30px;
}
.nav-social-box{
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 18px 20px;
}
.nav-social-box li a{
  color: #3C354F;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
}
.nav-social-box li{
  margin-right: 15px;
}

/* nav end */
.banner{
  
  max-width: 1920px;
  margin: 0 auto;
  padding: 0px 100px;
  
}
.banne-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}
.banner-text-box{
 
  background: url("../images/Group 14.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  fill: linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
  width: 50%;
  padding: 50px;
}
.banner-img-box{
 /* width: 50%; */
}
.banner-img-box img {
  width: 100%;
}
.play-text{
  font-size:2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.goat-text{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.sub-title{
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 10px;
}
.banner-btn-box{
  padding-top: 20px;
}
.go-rogue-btn{
  background: #4EC5F7 !important;
}

/* header part end */
/* we are gammer part start */
.we-are-gammer{
  max-width: 1920px;
  margin: 0 auto;
  padding: 30px 100px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gammer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
.gammer-img-box{
  max-width: 50%;
}
.gammer-img-box img{
  width: 100%;
}
.gammer-text-box{
  text-align: right;
  max-width: 50%;
}
.gammer-title{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-weight: 700;
}
.gammer-des{
  color: #534C64;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 30px;
}
.ellipsis{
color: #534C64;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 45px;
  cursor: pointer;
}
.gammer-des-2{
  color: #534C64;
  font-family: Work Sans;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
/* we are gammer part end */